.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.headerUpper{
    position: absolute;
    width: 360px;
    height: 31px;
    left: 0px;
    top: 0px;
    background: #3C3C3C;
}

.headerUpperContent{
    font-family: "Lato", sans-serif;
    position: absolute;
    width: 323.49px;
    height: 13px;
    left: 18px;
    top: 10px;
}
.hULeft{
    position: absolute;
    width: 108.86px;
    height: 12px;
    left: -1px;
    top: 0px;
}
.SC{
    position: absolute;
    width: 91px;
    height: 12px;
    left: -1px;
    top: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hULeft img{
    position: absolute;
    right: 66.66%;
    height: 5.793749809265137;
    top: 4.44px;   
    left: 98.18px;
    bottom: 21.28%;
    width: 9.684322357177734;
}

.hURight{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 9px;
    position: absolute;
    width: 126.49px;
    height: 12px;
    left: 199px;
    top: 1px;
}

.fontSize{
    display: flex;
    width: 42.54px;
    height: 14.5px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.small{
    position: absolute;
    width: 10px;
    height: 11px;
    left: calc(50% - 10px/2 - 58.25px);
    top: calc(50% - 11px/2);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #FFFFFF;
}

.medium{
    position: absolute;
    width: 8px;
    height: 13px;
    left: calc(50% - 8px/2 - 45.75px);
    top: calc(50% - 13px/2 - 0.5px);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 10.5px;
    line-height: 13px;
    color: #FFFFFF;
}

.large{
    position: absolute;
    width: 16px;
    height: 14px;
    left: calc(50% - 16px/2 - 28.71px);
    top: calc(50% - 14px/2 - 1.5px);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.theme{
    width: 24.14px;
    height: 11.59px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.light-box{
box-sizing: border-box;
position: absolute;
width: 11.59px;
height: 11.59px;
left: 51.54px;
top: 0.41px;
background: #FFFFFF;
border: 0.482813px solid #CFDBE6;
border-radius: 0.965625px;
}

.light-text{
position: absolute;
width: 4.35px;
height: 7.24px;
left: 2.92px;
top: 0.86px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 6.75937px;
line-height: 8px;
color: #232323;
}

.dark-box{
box-sizing: border-box;
position: absolute;
width: 11.59px;
height: 11.59px;
left: 64.09px;
top: 0.41px;
background: #F8B300;
border: 0.375px solid #CFDBE6;
border-radius: 0.965625px;
}

.dark-text{
/* z-index: 5   ; */
position: absolute;
width: 4.35px;
height: 7.24px;
left: 2.47px;
top: 0.87px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 6.75937px;
line-height: 8px;
color: #232323;
}

.language{
    display:flex;
    width: 41.81px;
    height: 12px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.one{
    position: absolute;
    width: 19px;
    height: 9.618749618530273;
    top: 0.82px;
    left: 84.68px;
    border-width: 0.1px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #FFFFFF;
    width: 16.200000762939453;
}
.two{
    position: absolute;
    width: 12px;
    height: 0px;
    left: 97px;
    top: 5px;
    border: 0.965625px solid #FFFFFF;
    transform: rotate(90deg);
    width: 12px;
}
.three{
    position: absolute;
    width: 19px;
    height: 11px;
    left: 107.49px;
    top: 0.75px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #FFFFFF;
}

.headerLower{
position: absolute;
width: 360px;
height: 68px;
left: 0px;
top: 31px;
background-color: #222222;
}

.hamburger{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 3.36px;
position: absolute;
width: 12px;
height: 10.08px;
left: 17px;
top: 17px;
}

.cllgIcon{
position: absolute;
width: 183.5px;
height: 25.12px;
left: 85.75px;
top: 8.19px;
}

.search{
position: absolute;
width: 19.01px;
height: 19.01px;
left: 324px;
top: 12.5px;
}

.lineYellow{
position: absolute;
width: 326px;
height: 0px;
left: 17px;
top: 42px;
border: 1.2875px solid #F8B300;
}

.hindiShlok{
position: absolute;
width: 123px;
height: 18px;
left: 118px;
top: 46px;
font-family: 'Hind';
font-style: normal;
font-weight: 400;
font-size: 11.25px;
line-height: 18px;
letter-spacing: 0.08em;
color: #FFFFFF;
}

.imgBuilding{
    z-index: -1;
    position: absolute;
    width: 360px;
    height: 558px;
    left: 0px;
    top: 26px;
    background: url(image.png);
    filter: blur(0.5px);
}

.introText{
position: absolute;
width: 234px;
height: 168px;
left: 15px;
top: 144.5px;
font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #FFFFFF;
text-shadow: 0px 1.6px 1.6px rgba(0, 0, 0, 0.3);
}

.social{
    z-index: 20;
    position: absolute;
    width: 25.65px;
    height: 149.85px;
    left: 330.18px;
    top: 154.08px;
}

.data{
    position: absolute;
    width: 325.5px;
    height: 252px;
    left: 17.12px;
    top: 517px;
}

.recent-research{
    position: absolute;
    width: 360px;
    height: 800px;
    left: 0px;
    top: 800px;
    background: #FFFFFF;
}

.rrText{
    position: absolute;
    width: 328.06px;
    height: 19px;
    left: 15px;
    top: 16px;
}
.rr{
    position: absolute;
    width: 155px;
    height: 19px;
    top: -5px;
    left: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.04em;
    color: #232323;
}

.viewAll{
    position: absolute;
    width: 67px;
    height: 21px;
    top: -5px;
    left: 264.06px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #232323;
}

.rrImages{
    position: absolute;
    width: 326px;
    height: 668.2px;
    left: 17px;
    top: 51.8px;
}

.rr1{
position: absolute;
width: 160px;
height: 145.45px;
/* left: 17px; */
top: 0px;
}
.rr2{
position: absolute;
width: 160px;
height: 229.45px;
left: 166px;
top: 0px;
}
.rr3{
position: absolute;
width: 160px;
height: 157px;
/* left: 17px; */
top: 151.45px;
}

.rr4{
    position: absolute;
    width: 160px;
    height: 186px;
    left: 166px;
    top: 235px;
}

.rr5{
position: absolute;
width: 160px;
height: 136px;
/* left: 17px; */
top: 420.45px;
}

.rr6{
position: absolute;
width: 160px;
height: 100px;
/* left: 17px; */
top: 314.45px;
}

.rr7{
position: absolute;
width: 160px;
height: 241px;
left: 166px;
top: 427px;
}

.rr8{
position: absolute;
width: 160px;
height: 105px;
/* left: 17px; */
top: 562.45px;
}

.rgpText{
position: absolute;
width: 327px;
height: 38px;
left: 16px;
top: 764px;
}

.rgp{
position: absolute;
/* left: 4.44%;
right: 45%;
top: 23.69%;
bottom: 75.74%; */
width: 182px;
height: 38px;
top: 0px;
left: 0px;
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.04em;
color: #232323;
}

.viewAll2{
position: absolute;
/* left: 77.22%;
right: 4.72%;
top: 23.85%;
bottom: 75.89%; */
width: 67px;
height: 17px;
top: 13px;
left: 261px;
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
letter-spacing: 0.02em;
color: #232323;
}

.rgpcontent{
position: absolute;
width: 360px;
height: 800px;
left: 0px;
top: 1600px;
background: #FFFFFF;
}

.leftArrow{
width: 9.053149223327637px;
height: 14.660969734191895px;
top: 123.86px;
left: 16px;
position: absolute;

}
.rgpcontImg{
position: absolute;
width: 270.07379150390625px;
height: 186.9741668701172px;
top: 38px;
left: 44px;
border-radius: 3.6px;
border-bottom-width: 0.9px;
border-radius: 3.6px;
}
.rightArrow{
    width: 9.053149223327637px;
    height: 14.660969734191895px;
    top: 123.86px;
    left: 334.23px;
    position: absolute;
}
.fogRemoval{
    position: absolute;
    left: 11.94%;
    right: 12.78%;
    top: 29.38%;
    bottom: 66.12%;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #232323;
}

.fogInfo{
position: absolute;
left: 12.5%;
right: 12.78%;
top: 35.38%;
bottom: 48.88%;
font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
text-align: justify;
color: #232323;
}

.readMoreBox{
    text-align: center;
    left: 44px;
    top: 424px;
    padding-top: 4px;
    font-size: 9.72px;
    font-family: "Lato";
    width: 78.18999481201172px;
    height: 22.67999839782715px;
    border-width: 0.61px;
    box-sizing: border-box;
    position: absolute;
    border: 0.6075px solid #232323;
    border-radius: 1.215px;
}

.AFL{
    text-align: center;
    right: 44px;
    top: 424px;
    font-family: "Lato";
    padding-top: 4px;
    font-size: 9.72px;
    width: 166.18999481201172px;
    height: 22.67999839782715px;
    border-width: 0.61px;
    box-sizing: border-box;
    position: absolute;
    border: 0.6075px solid #232323;
    border-radius: 1.215px;
}

.archirank{
position: absolute;
width: 360px;
height: 312px;
left: 0px;
top: 2088px;
background: #F9F9F9;
align-items: center;
}

.archiRankText{
position: absolute;
width: 272px;
height: 48px;
top: 18px;
left: 42px;
font-family: 'Lato';
font-size: 18px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
}

.archImg{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px;
gap: 7.2px;
position: absolute;
left: 17.22%;
right: 17.61%;
top: 28.21%;
bottom: -3.4%;
border-bottom: 0.6px solid #C4C4C4;
}

.eng{
position: absolute;
width: 360px;
height: 740px;
left: 0px;
top: 2400px;
background: #F9F9F9;
}
.engRank{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 11.96px;
gap: 7.18px;
position: absolute;
width: 233.81px;
height: 234.41px;
left: 63.59px;
gap: 7.18px;
border-bottom-width: 0.6px;
padding: 11.96px;
}
.asiaRank{
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 11.96px;
gap: 7.18px;
position: absolute;
height: 234.42px;
left: 17.5%;
right: 17.55%;
top: 245px;
border-bottom: 0.598px solid #C4C4C4;
}

.intRank{
    box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 11.96px;
gap: 7.18px;
position: absolute;
height: 234.42px;
left: 17.5%;
right: 17.55%;
top: 490px;
}

.RecAchievements{
position: absolute;
width: 360px;
height: 800px;
left: 0px;
top: 3140px;
background: #F8B300;
}

.RecentText{
display: flex;
position: absolute;
width: 328.06px;
height: 19px;
left: 15px;
top: 24px;
}

.RA{
position: absolute;
width: 199px;
height: 17px;
top: 8px;
left: 7px;
font-family: 'Lato';
letter-spacing: 0.04em;
color: #232323;
}
.RAVA{
position: absolute;
width: 72px;
height: 17px;
top: 7px;
left: 250.06px;
font-family: 'Lato';
}
.arrowLeftRA img{
position: absolute;
width: 9.05px;
height: 14.66px;
top: 165.86px;
left: 25.71px;
}

.RAbox{
position: absolute;
width: 272px;
height: 313.11px;
top: 79.82px;
left: 42.92px;
border-radius: 5.04px;
background-color: #232323;
display: flex;
flex-direction: column;
}
.RAbox img{
    position: absolute;
    left: -0.5px;
}

.gunShot{
    position: absolute;
    width: 243.18px;
    height: 30px;
    top: 187px;
    left: 15px;
    font-family: Segoe UI;
    font-weight: 600;
    font-size: 11.34px;
    line-height: 100%;
    color: #FFFFFF;
}

.GSabout{
    position: absolute;
    top: 219px;
    width: 243.18px;
    height: 75.6px;
    left: 14.41px;
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 10.08px;
    line-height: 15.12px;
    text-align: justify;
    color: #FFFFFF;
}

.arrowRightRA{
    position: absolute;
    width: 9.05px;
    height: 14.66px;
    top: 165.86px;
    left: 334.23px;
}
.dots{
    position: absolute;
    display: flex;
}
.dot1{
    width: 7.5px;
    height: 7.5px;
    top: 411.25px;
    left: 141.75px;
    position: absolute;
    background: #232323;
    border-radius: 3.75px;
}
.dot2{
    width: 7.5px;
    left: 155.25px;
    height: 7.5px;
    top: 411.25px;
    position: absolute;
    background: #232323;
    opacity: 50%;
    border-radius: 3.75px;
}
.dot3{
    width: 7.5px;
    left: 168.75px;
    height: 7.5px;
    top: 411.25px;
    position: absolute;
    background: #232323;
    opacity: 50%;
    border-radius: 3.75px;
}
.dot4{
    width: 7.5px;
    left: 182.25px;
    height: 7.5px;
    top: 411.25px;
    position: absolute;
    background: #232323;
    opacity: 50%;
    border-radius: 3.75px;
}
.dot5{
    width: 7.5px;
    left: 195.75px;
    height: 7.5px;
    top: 411.25px;
    position: absolute;
    background: #232323;
    opacity: 50%;
    border-radius: 3.75px;
}

.eventsGallery{
    position: absolute;
    width: 360px;
    height: 475px;
    background-color: #232323;
    top: 3600px;
    left: 0px;
}
.eventsText{
    width: 330px;
    left: 15px;
    top: 24px;
    font-family: "Lato";
    color: #FFFFFF;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.eventsImage{
    position: absolute;
    width: 326px;
    height: 209px;
    top: 79px;
    left: 17px;
    border-radius: 3.12px;
}
.cogni{
    position: absolute;
    width: 318px;
    height: 24px;
    top: 305.98px;
    left: 17px;
    border-radius: 4px;
}
.cogniText{
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: justify;
    position: absolute;
    width: 326px;
    height: 72px;
    top: 348px;
    left: 17px;
    color: #FFFFFF;
}

.milestones{
    position: absolute;
    top: 4074px;
    left: 0px;
    width: 360px;
    height: 580px;
    color: #FFFFFF;
}
.mileText{
    width: 330px;
    left: 15px;
    top: 16px;
    font-family: "Lato";
    color: #232323;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.milYear{
    position:absolute;
    display: flex;
    width: 320px;
    height: 24px;
    top: 56px;
    left: 20.33px;
    gap: 20px;
    color: #232323;
    opacity: 80%;
    font-family: Lato;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 1.25%; 
}
.twenty-three{
    position: absolute;
    right: 62px;
    top:50px;
    width: 47px;
    height: 9px;
    border-radius: 4px;
    padding-top: 6px;
    padding-right: 7.5px;
    padding-bottom: 6px;
    padding-left: 7.5px;
    background-color: #232323;
    color: #FFFFFF;
    font-family: Lato;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 1.25%;
    text-align: center;
}

.twenty-four{
    position: absolute;
    width: 24px;
    right: 20.33px;
    height: 12px;
    top: 56px;
    color: #232323;
    opacity: 80%;
    font-family: Lato;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
}

.milArrowL{
    position: absolute;
    width: 9.05px;
    height: 14.66px;
    top: 227.86px;
    left: 25.71px;
}
.milArrowR{
    position: absolute;
    width: 9.05px;
    height: 14.66px;
    top: 227.86px;
    left: 334.23px;
}
.milImg{
    position: absolute;
    width: 272.023px;
    height: 228.525px;
    top: 121.24px;
    left: 44.32px;
}

.text1{
    position: absolute;
    width: 271px;
    height: 36px;
    top: 360px;
    left: 45px;
    font-family: Segoe UI;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #232323;    
}
.text2{
    position:absolute;
    width: 271px;
    height: 108px;
    top: 408px;
    left: 45px;
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    opacity: 80%;
    text-align: justify;
    color: #232323;        
}
.milRM{
    text-align: center;
    top: 528px;
    left: 45px;
    padding-top: 7px;
    width: 80.19px;
    height: 15.68px;
    border-radius: 1.21px;
    border-width: 0.61px;    
    position: absolute;
    color: #232323;
    font-family: Lato;
    font-weight: 400;
    font-size: 9.72px;
    line-height: 9.72px;
    vertical-align: middle;
    text-transform: uppercase;
    border: 0.61px solid #232323
}
.noticeboard{
    position: absolute;
    width: 360px;
    height: 750px;
    top: 4663px;
    left: 0px;
}

.ntext{
    position:absolute;
    display: flex;
    justify-content: space-between;
    width: 328px;
    height: 19px;
    top: 16px;
    left: 15px;
    font-family: Lato;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 4%;     
}

.yn{
    position: absolute;
    width: 326px;
    height: 312px;
    top: 71px;
    left: 17px; 
    background-color: #fdedc3;
    border-radius: 4px;   
}
.yntext{
    position: absolute;
    width: 302px;
    height: 288px;
    top: 12px;
    left: 12px;
    gap: 28px;   
}
.adminn{
    position: absolute;
    width: 302px;
    height: 51px;    
}
.adminnDate{
    width: 302px;
    height: 13px;    
    position: absolute;
    justify-content: space-between;
    display: flex;
    color: black;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 9px;
    line-height: 100%;
    letter-spacing: 1.5%;   
}
.OM{
    position: absolute;
    width: 302px;
    height: 32px;
    top: 19px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0%;
    color: #232323;
}
.adminn2{
    position: absolute;
    top: 80px;
}
.adminn3{
    position: absolute;
    top: 160px;
}
.adminn4{
    position: absolute;
    top: 240px;
}

.UEtop{
    position: absolute;
    width: 328px;
    height: 19px;
    top: 427px;
    left: 15px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 4%;    
}
.UEschedule{
    position: absolute;
    width: 329px;
    height: 186.8px;
    top: 482px;
    left: 16px;
    gap: 12px;    
}
.UEsched1{
    position: absolute;
    width: 328px;
    height: 96.8px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #F8B300 solid;
}
.UEdat1{
    position: absolute;
    width: 72px;
    height: 72px;
    left: 0.67px;
    border: 0.1px solid #000000;
    box-shadow: 0px 0px 3px 0px #86868633;
}
.UEdat1a{
    position: absolute;
    width: 32px;
    height: 48px;
    top: 12.01px;
    left: 20.92px;
    font-family: 'Lato';
    font-weight: 400;    
}
.UEdate1{
    font-size: 27px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.UEmonth1{
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;    
}
.UEdetail1{
    position: absolute;
    width: 239px;
    height: 77.607px;
    top: 0.39px;
    left: 89px;    
}
.UEdetTop1{
    width: 73px;
    height: 19px;
    top: 0.39px;
    left: 89.16px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    opacity: 87%;
}
.UEdetLow1{
    position: absolute;
    width: 239px;
    height: 52px;
    top: 26px;
    left: 0px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 12px;
    line-height: 144%; 
    color: #000000;
    opacity: 60%;   
}

.UEsched2{
    position: absolute;
    width: 328px;
    height: 96.8px;
    display: flex;
    justify-content: space-between;
    top: 110px;
}

.UEdat2{
    position: absolute;
    width: 72px;
    height: 72px;
    left: 0.67px;
    border-width: 0.1px;
    border: 0.1px solid #000000;
    box-shadow: 0px 0px 3px 0px #86868633; 
}
.UEdat2a{
    position: absolute;
    width: 32px;
    height: 48px;
    top: 12.01px;
    left: 20.92px;
    font-family: 'Lato';
    font-weight: 400;
}
.UEdate2{
    font-size: 27px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.UEmonth2{
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;    
}
.UEdetail2{
    position: absolute;
    width: 239px;
    height: 77.607px;
    top: 0.39px;
    left: 89px;    
}
.UEdetTop2{
    width: 73px;
    height: 19px;
    top: 0.39px;
    left: 89.16px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    opacity: 87%;
}
.UEdetLow2{
    position: absolute;
    width: 239px;
    height: 52px;
    top: 26px;
    left: 0px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 12px;
    line-height: 144%; 
    color: #000000;
    opacity: 60%;   
}
.ImgBeforeFooter{
    z-index: 2;
    position: absolute;
    width: 271px;
    height: 103px;
    top: 5388px;
    left: 43px;
    border-width: 0.2px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;    
}
.footer{
    position: absolute;
    background-color: black;
    width: 360px;
    height: 1193px;
    top: 5405px;
    left: 0;
}
.HTRIR{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 184px;
    height: 24px;
    top: 108px;
    left: 43px;
    color: #FFFFFF;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 14px;
    line-height: 23.1px;
    letter-spacing: 0%;
    vertical-align: middle;    
}
.HTRIRlogo{
    position: absolute;
    width: 12px;
    height: 16.8px;
    top: 111px;
    left: 215px;    
}
.number{
    position: absolute;
    width: 112px;
    height: 24px;
    top: 138.5px;
    left: 42px; 
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 14px;
    line-height: 23.1px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;       
}
.numberLogo{
    position: absolute;
    width: 16.5px;
    height: 16.5px;
    top: 142px;
    left: 169.5px;
}
.mailF{
    position: absolute;
    color: white;
    width: 113px;
    height: 24px;
    top: 169px;
    left: 48px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 14px;
    line-height: 23.1px;
    letter-spacing: 0%;
    vertical-align: middle;   
}
.mailImg{
    position: absolute;
    width: 19.5px;
    height: 19.5px;
    top: 171px;
    left: 176.75px;    
}
.social{
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 160px;
    height: 17px;
    top: 207px;
    left: 49px;
    gap: 18px;    
}
.EXPLORE{
    position: absolute;
    width: 64px;
    height: 23px;
    top: 257px;
    left: 44px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #FFFFFF;    
}
.ExpITEMS{
    position: absolute;
    width: 148;
    height: 197;
    top: 296.73px;
    left: 44px;
    gap: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
    letter-spacing: 0%;
    vertical-align: middle;
}
.RANKINGS{
    position: absolute;
    width: 77px;
    height: 23px;
    left: 44px;
    top: 526px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.RContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    position: absolute;
    width: 34px;
    height: 52px;
    left: 44px;
    top: 565px;
    color: white;
    justify-content: space-between;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
    letter-spacing: 0%;
    vertical-align: middle;
}
.QA{
    position: absolute;
    width: 115px;
    height: 23px;
    top: 643px;
    left: 45px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    vertical-align: middle;    
    color: white;
}
.QAitems{
    position: absolute;
    width: 189px;
    height: 255px;
    top: 681.73px;
    left: 45px;
    gap: 6px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
    vertical-align: middle; 
    color: white;   
}
.QL{
    position: absolute;
    width: 102px;
    height: 23px;
    top: 970px;
    left: 43px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: white;
}
.QLitems{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60;
    height: 81;
    top: 1000px;
    left: 43px;
    gap: 6px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: white;  
}
.SM{
    position: absolute;
    width: 360px;
    height: 31px;
    top: 1100px;
    background-color: #121212;
}
.SMcontent{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 270px;
    height: 31px;
    left: 45px;
    gap: 60px;
    color: white;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 10px;
    line-height: 30.8px;
    vertical-align: middle;    
}
.LoveIMG{
    position: absolute;
    width: 360px;
    height: 31px;
    top: 1131px;
    background-color: #1a1a1a;
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 8px;
    line-height: 30.8px;
    vertical-align: middle;
    color: white;    
}
.copyright{
    position: absolute;
    text-align: center;
    background-color: #292929;
    width: 360px;
    height: 31px;
    top: 1162px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 10px;
    line-height: 30.8px;
    vertical-align: middle;
    color: #f7f7f7;    
}
