.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.headerUpper{
    position: absolute;
    width: 360px;
    height: 31px;
    left: 0px;
    top: 0px;
    background: #3C3C3C;
}

.headerUpperContent{
    font-family: "Lato", sans-serif;
    position: absolute;
    width: 323.49px;
    height: 13px;
    left: 18px;
    top: 10px;
}
.hULeft{
    position: absolute;
    width: 108.86px;
    height: 12px;
    left: -1px;
    top: 0px;
}
.SC{
    position: absolute;
    width: 91px;
    height: 12px;
    left: -1px;
    top: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hULeft img{
    position: absolute;
    right: 66.66%;
    height: 5.793749809265137;
    top: 4.44px;   
    left: 98.18px;
    bottom: 21.28%;
    width: 9.684322357177734;
}

.hURight{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 9px;
    position: absolute;
    width: 126.49px;
    height: 12px;
    left: 199px;
    top: 1px;
}

.fontSize{
    display: flex;
    width: 42.54px;
    height: 14.5px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.small{
    position: absolute;
    width: 10px;
    height: 11px;
    left: calc(50% - 10px/2 - 58.25px);
    top: calc(50% - 11px/2);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #FFFFFF;
}

.medium{
    position: absolute;
    width: 8px;
    height: 13px;
    left: calc(50% - 8px/2 - 45.75px);
    top: calc(50% - 13px/2 - 0.5px);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 10.5px;
    line-height: 13px;
    color: #FFFFFF;
}

.large{
    position: absolute;
    width: 16px;
    height: 14px;
    left: calc(50% - 16px/2 - 28.71px);
    top: calc(50% - 14px/2 - 1.5px);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.theme{
    width: 24.14px;
    height: 11.59px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.light-box{
box-sizing: border-box;
position: absolute;
width: 11.59px;
height: 11.59px;
left: 51.54px;
top: 0.41px;
background: #FFFFFF;
border: 0.482813px solid #CFDBE6;
border-radius: 0.965625px;
}

.light-text{
position: absolute;
width: 4.35px;
height: 7.24px;
left: 2.92px;
top: 0.86px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 6.75937px;
line-height: 8px;
color: #232323;
}

.dark-box{
box-sizing: border-box;
position: absolute;
width: 11.59px;
height: 11.59px;
left: 64.09px;
top: 0.41px;
background: #F8B300;
border: 0.375px solid #CFDBE6;
border-radius: 0.965625px;
}

.dark-text{
/* z-index: 5   ; */
position: absolute;
width: 4.35px;
height: 7.24px;
left: 2.47px;
top: 0.87px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 6.75937px;
line-height: 8px;
color: #232323;
}

.language{
    display:flex;
    width: 41.81px;
    height: 12px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.one{
    position: absolute;
    width: 19px;
    height: 9.618749618530273;
    top: 0.82px;
    left: 84.68px;
    border-width: 0.1px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #FFFFFF;
    width: 16.200000762939453;
}
.two{
    position: absolute;
    width: 12px;
    height: 0px;
    left: 97px;
    top: 5px;
    border: 0.965625px solid #FFFFFF;
    transform: rotate(90deg);
    width: 12px;
}
.three{
    position: absolute;
    width: 19px;
    height: 11px;
    left: 107.49px;
    top: 0.75px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #FFFFFF;
}

.headerLower{
position: absolute;
width: 360px;
height: 68px;
left: 0px;
top: 31px;
background-color: #222222;
}

.hamburger{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 3.36px;
position: absolute;
width: 12px;
height: 10.08px;
left: 17px;
top: 17px;
}

.cllgIcon{
position: absolute;
width: 183.5px;
height: 25.12px;
left: 85.75px;
top: 8.19px;
}

.search{
position: absolute;
width: 19.01px;
height: 19.01px;
left: 324px;
top: 12.5px;
}

.lineYellow{
position: absolute;
width: 326px;
height: 0px;
left: 17px;
top: 42px;
border: 1.2875px solid #F8B300;
}

.hindiShlok{
position: absolute;
width: 123px;
height: 18px;
left: 118px;
top: 46px;
font-family: 'Hind';
font-style: normal;
font-weight: 400;
font-size: 11.25px;
line-height: 18px;
letter-spacing: 0.08em;
color: #FFFFFF;
}

.imgBuilding{
    z-index: -1;
    position: absolute;
    width: 360px;
    height: 558px;
    left: 0px;
    top: 26px;
    background: url(image.png);
    filter: blur(0.5px);
}

.introText{
position: absolute;
width: 234px;
height: 168px;
left: 15px;
top: 144.5px;
font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #FFFFFF;
text-shadow: 0px 1.6px 1.6px rgba(0, 0, 0, 0.3);
}

.social{
    z-index: 20;
    position: absolute;
    width: 25.65px;
    height: 149.85px;
    left: 330.18px;
    top: 154.08px;
}

.data{
    position: absolute;
    width: 325.5px;
    height: 252px;
    left: 17.12px;
    top: 517px;
}

.recent-research{
    position: absolute;
    width: 360px;
    height: 800px;
    left: 0px;
    top: 800px;
    background: #FFFFFF;
}

.rrText{
    position: absolute;
    width: 328.06px;
    height: 19px;
    left: 15px;
    top: 16px;
}
.rr{
    position: absolute;
    width: 155px;
    height: 19px;
    top: -5px;
    left: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.04em;
    color: #232323;
}

.viewAll{
    position: absolute;
    width: 67px;
    height: 21px;
    top: -5px;
    left: 264.06px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #232323;
}

.rrImages{
    position: absolute;
    width: 326px;
    height: 668.2px;
    left: 17px;
    top: 51.8px;
}

.rr1{
position: absolute;
width: 160px;
height: 145.45px;
/* left: 17px; */
top: 0px;
}
.rr2{
position: absolute;
width: 160px;
height: 229.45px;
left: 166px;
top: 0px;
}
.rr3{
position: absolute;
width: 160px;
height: 157px;
/* left: 17px; */
top: 151.45px;
}

.rr4{
    position: absolute;
    width: 160px;
    height: 186px;
    left: 166px;
    top: 235px;
}

.rr5{
position: absolute;
width: 160px;
height: 136px;
/* left: 17px; */
top: 420.45px;
}

.rr6{
position: absolute;
width: 160px;
height: 100px;
/* left: 17px; */
top: 314.45px;
}

.rr7{
position: absolute;
width: 160px;
height: 241px;
left: 166px;
top: 427px;
}

.rr8{
position: absolute;
width: 160px;
height: 105px;
/* left: 17px; */
top: 562.45px;
}

.rgpText{
position: absolute;
width: 327px;
height: 38px;
left: 16px;
top: 764px;
}

.rgp{
position: absolute;
/* left: 4.44%;
right: 45%;
top: 23.69%;
bottom: 75.74%; */
width: 182px;
height: 38px;
top: 0px;
left: 0px;
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.04em;
color: #232323;
}

.viewAll2{
position: absolute;
/* left: 77.22%;
right: 4.72%;
top: 23.85%;
bottom: 75.89%; */
width: 67px;
height: 17px;
top: 13px;
left: 261px;
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
letter-spacing: 0.02em;
color: #232323;
}